
body, html, a,p{
	margin:0px;
	padding: 0px;
}
body{
	background-color: #e8e8e8;
}

.whiteText{
	color:#fff
}
.lightBlueText{
	color:#91a0ba;
}

.orangeText{
	color:#ffac4f;
}

.sansFont{
	font-family: sans-serif;
}
	
.header{
	background-color: #003049;
	width:100%;
	height:60px;
	margin:0px;
	padding-right: 10px;
}

.headerbody{
	max-width: 896px;
	font-size: 32px;
	font-family: 'Reem Kufi', sans-serif;
	line-height: 60px;
	margin-right: auto;
	margin-left: auto;
	margin-top:0px;
	margin-bottom:0px;
}

.socialMediaImg{
	height:40px;
}

.courseBin{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}
.courseBin_head{
	width: 100%;
	background-color:#e8e8e8;
	color: #003049;
	font-family: 'Mada', sans-serif;
	font-size: 24px;
	padding: 3px;
	text-align: center;
}
.courseBin_body{
	width: 100%;
	background-color:#fff;
	padding-bottom: 4px;
	
}
.courseBin_body a{
	text-decoration: none;
	color: #2968ce;
	font-weight: 500;
	font-size: 15px;
	padding-top: 8px;
	display: inline-block;
	width: 245px;
	padding-right: 5px;
	font-family:  'Tahoma', sans-serif;
	vertical-align: top;
}

a .orangeText {
	font-size: 13px;
}

a:hover .orangeText, a:visited:hover .orangeText  {
	color: red;
	font-weight: bold;
}

a:visited .orangeText {
	color: #d3bba0;
}


.footId{
	background-color: #003049;
	width:100%;
	height:260px;
	margin:0px;
}

.footbodyId{
	max-width: 1024px;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
	margin-top:0px;
	margin-bottom:0px;
}
.footerSection{
	width:252px; 
	float:right; 
	display:inline-block
}
.footerSectionHeader{
	padding:5px;
	font-size: 16px;
}

.footerSectionBody{
	list-style-type: none;
	font-size: 13px;
}

.footerSectionBody ul{
	list-style-type: none;
}