*{
  box-sizing: border-box;
  user-select: none;
}

body{
	font-family: 'Amaranth', sans-serif;
	padding: 2%;
    height: 100%;
}

input[type=text], input[type=password]{
	width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus{

	background-color: #ddd;
}

textarea{
	width: 100%;
    height: 100%;
	padding: 15px;
	border: none;
	background-color: #f1f1f1;
	min-height: 140px;
}


input[type=submit] {
    background-color: #aaa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1.3em;
}

input[type=submit]:hover {
    opacity:1;
}